.hidden {
    display: none;
  }
  /* Styles for registration container */
#registration-container {
    text-align: center;
  }
  
  /* Styles for registration form */
  #registration-form {
    margin-top: 20px;
  }
  
  /* Styles for submit button */
  #register-btn {
    display: block;
    margin: 0 auto;
  }